@import "../../assets//style/variable.scss";

.container {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0px;
    border-radius: 10px;

    .cardImage {
        border: 1px solid #BCC0C9;
        border-radius: 10px;
        width: 90%;
        margin: auto;
        height: 100px;
        transition: .5s ease;
    }


    .cardInfo {
        padding: 5px 10px;

        .cityName {
            font-size: 8px;
        }

        .name {
            font-size: 15px;
            font-weight: 300;
        }
    }
}

.container:hover .cardImage {
    opacity: 0.6;
}

.container:hover .middle {
    opacity: 1;
}

.container:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}