// breakpoint sizes
$tablet: 500px;
$laptop: 769px;
$desktop: 1025px;
$tv: 1201px;

// colors
$mainColor: #086638;
$inputHover: #1fb06a;
$mainGray: #EFEEF1;
$alertColor: rgb(225, 86, 86);
$btnHoverColor: #063f24;
$searchInpColor: #F1F3F7;
$hoverSearchInpColor: #afb7c7;