@import "../../assets//style/variable.scss";

.container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 2;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        align-items: center;
        gap: 35%;
        background-color: #fff;
        padding: 10px;

        .icon {
            font-size: 20px;
            padding-top: 5px;
        }
    }

    .listsContainer {

        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        gap: 10px;




        .categoryList:hover {
            background-color: $hoverSearchInpColor;

            .cardImageCont {
                background-color: $hoverSearchInpColor;
            }
        }

        .categoryList {
            display: flex;
            align-items: center;
            gap: 5px;
            background-color: $searchInpColor;


            .cardImageCont {
                background-color: $hoverSearchInpColor;
                padding: 10px;
                font-size: 40px;
                border-radius: 10px;

                .cardImage {
                    width: 40px;
                    height: 40px;
                }
            }

            .categoryName {
                font-size: 15px;
                text-align: center;
            }
        }
    }
}

.closeSidebar {
    transform: translate(100%);
    transition: all 0.5s;
}

.openSidebar {
    transform: translate(0%);
    transition: all 0.5s;

}