@import "../../assets//style/variable.scss";

.container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 2;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        align-items: center;
        gap: 35%;
        background-color: #fff;
        padding: 10px;

        .icon {
            font-size: 20px;
            padding-top: 5px;
        }
    }

    .listsContainer {

        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        gap: 10px;




        .categoryList:hover {
            background-color: $hoverSearchInpColor;

            .cardImageCont {
                background-color: $hoverSearchInpColor;
            }
        }

        .categoryList {
            display: flex;
            align-items: center;
            gap: 5px;
            background-color: $searchInpColor;


            .cardImageCont {
                background-color: $hoverSearchInpColor;
                padding: 10px;
                font-size: 40px;
                border-radius: 10px;

                .cardImage {
                    width: 40px;
                    height: 40px;
                }
            }

            .categoryName {
                font-size: 15px;
                text-align: center;
            }
        }
    }
}

.closeSidebar {
    transform: translate(100%);
    transition: all 0.8s;
}

.openSidebar {
    transform: translate(0%);
    transition: all 0.5s;

}


@media screen and (min-width:$categorySlideDesk) {
    .container {
        width: 30%;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

        .listsContainer {
            padding-left: 10px;
        }
    }

    .closeSidebar {
        transform: translate(500%);
        transition: all 1.5s;
    }

    .openSidebar {
        transform: translate(250%);
        transition: all 0.5s;

    }


}