@import "../../assets//style/variable.scss";


.loadingCont {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $mainGray;

}

.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: $mainGray;


    .infoCont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        padding: 20px;

        .profilPhoto {
            background-color: $hoverSearchInpColor;
            color: #fff;
            font-size: 40px;
            padding: 10px;
            border-radius: 50%;
            display: flex;
            margin-bottom: 15px;
        }

    }

    .userAnnounceCont {
        border-top: 1px solid $borderColor;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        .announcements {

            h4 {
                padding-left: 20px;
            }

            .announcementsList {
                display: flex;
                flex-direction: column;
                align-items: center;
                // width: 80%;
                margin: auto;
                gap: 15px;
                padding-top: 15px;

                .cardCont {
                    position: relative;


                    .deleteIcon {
                        color: red;
                        opacity: 0.1;
                        transition: 3ms;
                        cursor: pointer;
                        position: absolute;
                        top: 0;
                        right: 0;
                    }

                    .deleteIcon:hover {
                        opacity: 1;
                    }
                }


            }
        }
    }
}

@media screen and (min-width:$categorySlideDesk) {
    .container {
        padding-top: 20px;

        .infoCont {

            .profilPhoto {}
        }

        .userAnnounceCont {

            .announcements {

                .announcementsList {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    width: 80%;
                    margin: auto;
                    gap: 15px;
                    padding-top: 15px;
                }
            }
        }
    }
}