@import '../../assets/style/variable.scss';

.headerContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 20px 5% 28px;
    margin-bottom: 140px;
    background-color: $headerBackgroundColor;


    .headerIcons {
        color: $mainColor;
        font-size: 20px;
        padding-top: 4px;
    }


    .logoutIcon:hover,
    .profilIcon:hover,
    .createIcon:hover {
        color: $inputHover;
    }

    .logoutIcon,
    .profilIcon {
        display: none;
    }

    .headerLogo {
        font-size: 20px;
        cursor: pointer;
    }
}

@media screen and (min-width:$categorySlideDesk) {
    .headerContainer {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: auto;
        padding: 20px 5% 28px;
        margin-bottom: 140px;
        background-color: $headerBackgroundColor;
        box-shadow: 0 4px 1px -1px rgb(218, 213, 213);



        .headerIcons {
            display: flex;
            gap: 20px;
        }

        .logoutIcon,
        .profilIcon,
        .createIcon {
            display: block;
            cursor: pointer;
        }

        .hamburgerBtn {
            display: none;
        }
    }
}