@import "../../assets//style/variable.scss";

.container {
    background-color: $mainGray;
    padding: 30px 60px;

    .sliderPart {
        width: 90%;
        margin: auto;
    }

    .infoPart {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        background-color: rgb(217, 211, 179);
        border-radius: 12px;

        .nameAndContent {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        .otherInfo {
            display: flex;
            gap: 20px;
            background-color: $mainGray;
            border-radius: 6px;
            padding: 5px;

            ul {
                display: flex;
                flex-direction: column;
                gap: 5px;
            }

            .otherInfoUl {
                li {
                    color: $mainColor;
                    background-color: #fff;
                    border-radius: 6px;
                    padding: 0px 3px;
                }
            }
        }

        .mobileNumber {
            display: flex;
            gap: 20px;
        }
    }
}


@media screen and (min-width:$categorySlideDesk) {

    .container {
        display: flex;
        align-items: center;


        .sliderPart {
            width: 50%;
        }

    }
}